@model ObliGaitanBordaAnon.Models.LoginViewModel

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="bg-light py-3 py-md-5">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
                    <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-5">
                                    <h3>Inicio de sesión</h3>
                                </div>
                            </div>
                        </div>
                        <form asp-action="Login" method="post">
                            @Html.AntiForgeryToken()
                            <div class="row gy-3 gy-md-4 overflow-hidden">
                                <div class="col-12">
                                    <label asp-for="Email" class="form-label">Email: <span class="text-danger">*</span></label>
                                    <input type="email " asp-for="Email" class="form-control" placeholder="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label asp-for="Contrasenia" class="form-label">Constraseña: <span class="text-danger">*</span></label>
                                    <input asp-for="Contrasenia" class="form-control" placeholder="Contraseña" type="password">
                                    <span asp-validation-for="Contrasenia" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn btn-lg btn-primary" type="submit" asp-controller="Home" asp-action="Index">Iniciar sesión</button>
                                        <hr />
                                        <a class="btn btn-secondary btn-lg" asp-controller="Home" asp-action="Index">Volver a la lista</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>