@model ObliGaitanBordaAnon.Models.Reserva

@{
    ViewData["Title"] = "Create";
}

<h1>Crear reserva</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RestauranteId" class="control-label">Sucursal del restaurante:</label>
                <select asp-for="RestauranteId" class="form-control" asp-items="ViewBag.RestauranteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Cliente registrado:</label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre para reserva:</label>
                <input type="text" asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MesaId" class="control-label">Nro. mesa:</label>
                <select asp-for="MesaId" class ="form-control" asp-items="ViewBag.MesaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaReservada" class="control-label">Fecha de la reserva:</label>
                <input asp-for="FechaReservada" class="form-control" />
                <span asp-validation-for="FechaReservada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label">Estado de la reserva:</label>
                <select asp-for="Estado" class="form-select" id="exampleDisabledSelect1" disabled="" fdprocessedid="4i5fj">
                    <option value="Pendiente">Pendiente</option>
                    <option value="Confirmada">Confirmada</option>
                    <option value="Cancelada">Cancelada</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <hr />
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
