@model ObliGaitanBordaAnon.Models.Pago

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ReservaId" class="control-label"></label>
                <select asp-for="ReservaId" class="form-control" asp-items="ViewBag.ReservaId"></select>
                <span asp-validation-for="ReservaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPago" class="control-label"></label>
                <input asp-for="FechaPago" class="form-control" />
                <span asp-validation-for="FechaPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodoPago" class="control-label"></label>
                <input asp-for="MetodoPago" class="form-control" />
                <span asp-validation-for="MetodoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClimaId" class="control-label"></label>
                <select asp-for="ClimaId" class="form-control" asp-items="ViewBag.ClimaId"></select>
                <span asp-validation-for="ClimaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <hr />
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
