@model ObliGaitanBordaAnon.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar usuario</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre de usuario:</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email:</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasenia" class="control-label">Contraseña:</label>
                <input type="password" asp-for="Contrasenia" class="form-control" />
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RolId" class="control-label">Id del rol:</label>
                <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId"></select>
            </div>
            <div class="form-group">
                <hr />
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
