@model ObliGaitanBordaAnon.Models.Cotizacione

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar cotizacion del dia</h1>

<h4>Cotizaciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreDivisa" class="control-label">Cotizacion:</label>
                <input asp-for="NombreDivisa" class="form-control" />
                <span asp-validation-for="NombreDivisa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CotizacionDivisa" class="control-label">Valor:</label>
                <input asp-for="CotizacionDivisa" class="form-control" />
                <span asp-validation-for="CotizacionDivisa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <hr />
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a class="btn btn-secondary"  asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
