@model ObliGaitanBordaAnon.Models.Cotizacione

@{
    ViewData["Title"] = "Editar cotizacion";
}

<h1>Editar cotizacion</h1>

<h4>Cotizaciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NombreDivisa" class="control-label">Tipo de cotizacion:</label>
                <input asp-for="NombreDivisa" class="form-control" />
                <span asp-validation-for="NombreDivisa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CotizacionDivisa" class="control-label">Valor:</label>
                <input type="number" asp-for="CotizacionDivisa" class="form-control" />
                <span asp-validation-for="CotizacionDivisa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <hr />
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
