<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ObliGaitanBordaAnon</title>
    <link rel="stylesheet" href="~/css/Zhapyr.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/OBGaitanBordaAnon.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
</head>
<body>
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="~/ExternalImages/LogoSF.png" alt="Logo">
        </div>
        <ul class="list-unstyled components flex-grow-1">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i> <span>Inicio</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="MenuVM" asp-action="Index"><i class="bi bi-book"></i> <span>Menú</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#gestionesSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="bi bi-tools"></i> <span>Gestiones</span></a>
                    <ul class="collapse list-unstyled" id="gestionesSubmenu">
                        <li><a class="dropdown-item" asp-controller="Restaurantes" asp-action="Index"><i class="bi bi-shop"></i> Restaurantes</a></li>
                        <li><a class="dropdown-item" asp-controller="Usuarios" asp-action="Index"><i class="bi bi-person-fill-gear"></i> Usuarios</a></li>
                        <li><a class="dropdown-item" asp-controller="Clientes" asp-action="Index"><i class="bi bi-person-hearts"></i> Clientes</a></li>
                        <li><a class="dropdown-item" asp-controller="Mesas" asp-action="Index"><i class="bi bi-wrench-adjustable-circle"></i> Mesas</a></li>
                        <li><a class="dropdown-item" asp-controller="Menus" asp-action="Index"><i class="bi bi-journal-medical"></i> Menú</a></li>
                        <li><a class="dropdown-item" asp-controller="Reservas" asp-action="Index"><i class="bi bi-journal-bookmark-fill"></i> Reservas</a></li>
                        <li><a class="dropdown-item" asp-controller="Ordenes" asp-action="Index"><i class="bi bi-journal"></i> Ordenes</a></li>
                        <li><a class="dropdown-item" asp-controller="OrdenDetalles" asp-action="Index"><i class="bi bi-journal-text"></i> Detalles de Orden</a></li>
                        <li><a class="dropdown-item" asp-controller="Resenias" asp-action="Index"><i class="bi bi-pencil"></i> Reseñas</a></li>
                        <li><a class="dropdown-item" asp-controller="Pagoes" asp-action="Index"><i class="bi bi-cash-coin"></i> Pagos</a></li>
                        <li><a class="dropdown-item" asp-controller="Climas" asp-action="Index"><i class="bi bi-cloud-sun-fill"></i> Clima</a></li>
                        <li><a class="dropdown-item" asp-controller="Roles" asp-action="Index"><i class="bi bi-nut-fill"></i> Roles</a></li>
                        <li><a class="dropdown-item" asp-controller="Permisoes" asp-action="Index"><i class="bi bi-person-fill-lock"></i> Permisos</a></li>
                        <li><a class="dropdown-item" asp-controller="RolesPermisoes" asp-action="Index"><i class="bi bi-toggles"></i> Roles y permisos</a></li>
                        <li><a class="dropdown-item" asp-controller="Cotizaciones" asp-action="Index"><i class="bi bi-currency-exchange"></i> Cotizaciones</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#reseniasSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="bi bi-pencil"></i> <span>Reseñas</span></a>
                    <ul class="collapse list-unstyled" id="reseniasSubmenu">
                        <li><a class="dropdown-item" asp-controller="ReseniaVM" asp-action="Index"><i class="bi bi-layout-text-sidebar-reverse"></i> Ver reseñas</a></li>
                        <li><a class="dropdown-item" asp-controller="ReseniaVM" asp-action="Crear"><i class="bi bi-pen"></i> Escribir reseña</a></li>
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i> <span>Inicio</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="MenuVM" asp-action="Index"><i class="bi bi-book"></i> <span>Menú</span></a>
                <li class="nav-item dropdown">
                    <a href="#reseniasSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="bi bi-pencil"></i> <span>Reseñas</span></a>
                    <ul class="collapse list-unstyled" id="reseniasSubmenu">
                        <li><a class="dropdown-item" asp-controller="ReseniaVM" asp-action="Index"><i class="bi bi-layout-text-sidebar-reverse"></i> Ver reseñas</a></li>
                        <li><a class="dropdown-item" asp-controller="ReseniaVM" asp-action="Crear"><i class="bi bi-pen"></i> Escribir reseña</a></li>
                    </ul>
                </li>
                </li>
            }
        </ul>
        <div class="bottom-links">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="nav-link logout-link" asp-area="" asp-controller="LoginVM" asp-action="Logout"><i class="bi bi-box-arrow-right"></i> <span>Logout</span></a>
            }
            else
            {
                <a class="nav-link login-link" asp-area="" asp-controller="LoginVM" asp-action="Login"><i class="bi bi-person-circle"></i> <span>Login</span></a>
            }
        </div>
    </nav>

    <div id="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - OBGaitanBordaAnon - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.querySelectorAll('.dropdown-toggle').forEach(item => {
            item.addEventListener('click', event => {
                let parent = event.target.closest('li');
                let collapseElement = parent.querySelector('.collapse');
                if (collapseElement.classList.contains('show')) {
                    collapseElement.classList.remove('show');
                } else {
                    document.querySelectorAll('.collapse').forEach(collapse => collapse.classList.remove('show'));
                    collapseElement.classList.add('show');
                }
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>