<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ObliGaitanBordaAnon</title>
    <link rel="stylesheet" href="~/css/Zhapyr.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/OBGaitanBordaAnon.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Al Mal Tiempo, Buena Cara</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="MenuVM" asp-action="Index"><i class="bi bi-book-half"></i> Menú</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-area="" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-tools"></i> Gestiones</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Restaurantes" asp-action="Index">Restaurantes</a>
                                <a class="dropdown-item" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                <a class="dropdown-item" asp-controller="Clientes" asp-action="Index">Clientes</a>
                                <a class="dropdown-item" asp-controller="Mesas" asp-action="Index">Mesas</a>
                                <a class="dropdown-item" asp-controller="Menus" asp-action="Index">Menus</a>
                                <a class="dropdown-item" asp-controller="Reservas" asp-action="Index">Reservas</a>
                                <a class="dropdown-item" asp-controller="Ordenes" asp-action="Index">Ordenes</a>
                                <a class="dropdown-item" asp-controller="OrdenDetalles" asp-action="Index">Detalles de Orden</a>
                                <a class="dropdown-item" asp-controller="Resenias" asp-action="Index">Reseñas</a>
                                <a class="dropdown-item" asp-controller="Pagoes" asp-action="Index">Pagos</a>
                                <a class="dropdown-item" asp-controller="Climas" asp-action="Index">Clima</a>
                                <a class="dropdown-item" asp-controller="Roles" asp-action="Index">Roles</a>
                                <a class="dropdown-item" asp-controller="Permisoes" asp-action="Index">Permisos</a>
                                <a class="dropdown-item" asp-controller="RolesPermisoes" asp-action="Index">Roles y permisos</a>
                                <a class="dropdown-item" asp-controller="RolesPermisoes" asp-action="Index">Cotizaciones</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="">Sobre nosotros</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - OBGaitanBordaAnon - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>