@model ObliGaitanBordaAnon.Models.Menu

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar Menu</h1>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombrePlato" class="control-label">Nombre del plato:</label>
                <input asp-for="NombrePlato" class="form-control" />
                <span asp-validation-for="NombrePlato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">Descripcion del plato:</label>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label">Categoria del plato:</label>
                <select asp-for="Categoria" class="form-control">
                    <option value="Principal">Principal</option>
                    <option value="Bebida">Bebida</option>
                    <option value="Tragos">Tragos</option>
                    <option value="Postre">Postre</option>
                </select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CotizacionId" class="control-label">Cotizacion:</label>
                <select asp-for="CotizacionId" class="form-control" asp-items=ViewBag.CotizacionId></select>
                <span asp-validation-for="CotizacionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label">Precio del menu:</label>
                <div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" fdprocessedid="j8b7h" asp-for="Precio">
                    </div>
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <hr />
                    <input type="submit" value="Crear" class="btn btn-primary" />
                    <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
