@model ObliGaitanBordaAnon.Models.RolesPermiso

@{
    ViewData["Title"] = "Asignacion roles-permiso";
}

<h1>Asignar permisos a roles</h1>

<h4>Permiso-Roles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RolId" class="control-label">Rol:</label>
                <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PermisoId" class="control-label">Permiso:</label>
                <select asp-for="PermisoId" class="form-control" asp-items="ViewBag.PermisoId"></select>
            </div>
            <div class="form-group">
                <hr />
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
