@model IEnumerable<ObliGaitanBordaAnon.Models.Resenia>

@{
    ViewData["Title"] = "Página de Inicio";
}

<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

<div class="container-fluid p-0">
    <!-- Sección de bienvenida -->
    <section class="bg-primary text-primary-foreground py-5 text-center m-0">
        <div class="container d-flex flex-column flex-md-row align-items-center justify-content-center gap-4 p-0">
            <img src="/ExternalImages/Objetivos.webp" class="rounded-lg welcome-image" alt="Al Mal Tiempo Buena Cara">
            <div class="text-start text-md-center welcome-text">
                <h1 class="display-4">Bienvenido a Al Mal Tiempo Buena Cara</h1>
                <p class="lead">Disfruta de una experiencia culinaria excepcional en nuestro acogedor restaurante. Nuestro menú ofrece una selección de platos deliciosos hechos con los mejores ingredientes frescos.</p>
                <a asp-controller="MenuVM" asp-action="Index" class="btn btn-light btn-lg">Ver menú</a>
            </div>
        </div>
    </section>

    <!-- Sección de reseñas -->
    <section id="reviews" class="bg-light py-5 text-center">
        <div class="container">
            <h2 class="display-4">Lo que dicen nuestros clientes</h2>
            <p class="lead">Descubre lo que opinan los que han disfrutado de nuestra cocina.</p>
            <div class="row mt-4">
                @foreach (var resenia in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4">
                                    <div>
                                        <h4 class="card-title d-inline"><i class="bi bi-person-fill mr-2"></i>Cliente</h4>
                                    </div>
                                </div>
                                <p class="card-text">"@(resenia.Comentario)"</p>
                                @if (resenia.Puntaje < 3)
                                {
                                    <span class="badge rounded-pill bg-danger">@resenia.Puntaje / 5</span>
                                }
                                else if (resenia.Puntaje > 3)
                                {
                                    <span class="badge rounded-pill bg-success">@resenia.Puntaje / 5</span>
                                }
                                else
                                {
                                    <span class="badge rounded-pill bg-warning">@resenia.Puntaje / 5</span>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- Sección de tipos de clientes -->
    <section id="customer-types" class="py-5 text-center">
        <div class="container">
            <h2 class="display-4">Tipos de Clientes</h2>
            <p class="lead">Descubre las ventajas de ser nuestro cliente</p>
            <div class="row mt-4">
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Cliente Nuevo</h4>
                            <p class="card-text">Disfruta de nuestra deliciosa comida sin descuentos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Cliente Frecuente</h4>
                            <p class="card-text">Recibe un <strong>10% de descuento</strong> en todos tus platos al ser un cliente frecuente.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Cliente VIP</h4>
                            <p class="card-text">Disfruta de un <strong>20% de descuento</strong> en todos tus platos al ser cliente VIP.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de carrusel de imágenes -->
    <section id="carousel" class="py-5">
        <div class="container">
            <h2 class="display-4 text-center">Nuestro Restaurante</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/ExternalImages/Inicio.webp" class="d-block w-100 carousel-image" alt="Inicio">
                    </div>
                    <div class="carousel-item">
                        <img src="/ExternalImages/GranSala.webp" class="d-block w-100 carousel-image" alt="Gran sala">
                    </div>
                    <div class="carousel-item">
                        <img src="/ExternalImages/PlatoCompleto.webp" class="d-block w-100 carousel-image" alt="Plato">
                    </div>
                    <div class="carousel-item">
                        <img src="/ExternalImages/Cocina.webp" class="d-block w-100 carousel-image" alt="Cocina">
                    </div>
                    <div class="carousel-item">
                        <img src="/ExternalImages/SalaJuegos.webp" class="d-block w-100 carousel-image" alt="Sala de Juegos">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
</div>