@model ObliGaitanBordaAnon.Models.Clima

@{
    ViewData["Title"] = "Crear clima";
}

<h1>Registrar clima</h1>

<h4>Clima</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label for="Ciudad" class="control-label">Ciudad:</label>
                <input type="text" name="ciudad" id="Ciudad" class="form-control" required />
                <span class="text-danger" data-valmsg-for="ciudad" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                <label for="Pais" class="control-label">País:</label>
                <input type="text" name="pais" id="Pais" class="form-control" required />
                <span class="text-danger" data-valmsg-for="pais" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fecha" class="control-label">Fecha:</label>
                <input type="date" asp-for="Fecha" class="form-control" disabled value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Temperatura" class="control-label">Temperatura:</label>
                <input asp-for="Temperatura" disabled class="form-control" />
                <span asp-validation-for="Temperatura" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Lluvia" class="control-label">Lluvia:</label>
                <input asp-for="Lluvia" disabled class="form-control" />
                <span asp-validation-for="Lluvia" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DescripcionClima" class="control-label">Descripción del clima:</label>
                <textarea asp-for="DescripcionClima" disabled="" class="form-control">Descripcion clima</textarea>
                <span asp-validation-for="DescripcionClima" class="text-danger"></span>
            </div>

            <div class="form-group">
                <hr />
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}